body{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(145, 174, 184);
    border-radius: 20px;
    
}
.container{
    background: linear-gradient(90deg,rgb(1, 18, 34), rgb(2, 59, 97));
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-card{
    background-color: rgb(214, 231, 247);
    padding: 20px;
    border-radius: 20px;
    width: auto;
    z-index: 999;
    position: relative;
}

.header{
    padding: 10px 0px;
}
.logo{
    font-size: 25px;
    font-weight: 800;
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo .fa-circle{
    color: rgb(2, 32, 59);
}
.todo-content{
    padding: 20px 0px;
}
.input-group{    
    background-color: rgb(199, 225, 250);
    padding: 2px 5px;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    border: 1px solid rgba(1, 18, 34, 0.1);
    margin-bottom: 1rem;
}
.todo-input{
    padding: 5px 20px;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: rgb(46, 47, 48);
    width: 100%;
}
.todo-time{
    padding: 10px;
    border: 0;
    outline: 0;
    margin: 2px 0px;
    background-color: rgb(166, 198, 228);
    border-radius: 20px;
    border: 1px solid rgba(1, 18, 34, 0.1);
}
.todo-button{
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(5, 67, 124);
    border: 0;
    outline: 0;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    color: rgb(132, 159, 185);
}
.todo-button:hover{
    opacity: 0.8;
}

.todo-list{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 350px;
    overflow: auto;
}

.no-items{
    display: flex;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.no-items-text{
    color: grey;
}
.strike{
    text-decoration: line-through;
}
.fa-cloud{
    position: fixed;
    color: rgb(132, 171, 207);    
    animation: dance 2s 0.1s infinite ease-in;
    transition: 1s infinite ease-in;
    z-index: 1;
    
}
.c1{
    top: 2rem;
    right: 2rem;
}
.c2{
    top: 2rem;
    left: 2rem;
    color: rgb(207, 132, 201); 
}
.c3{
    bottom: 2rem;
    right: 2rem;
    color: rgb(207, 132, 201);
}
.c4{
    bottom: 2rem;
    left: 2rem;
    color: rgb(200, 207, 132);
}
.c5{
    top: 50%;
    right: 15%;
}
.c6{
    top: 50%;
    left: 15%;
    color: rgb(207, 132, 142);
}
.no-items span{
    font-size: 40px;
    color: rgb(126, 150, 172);
}
@keyframes dance {
    from{
        transform: rotate(0deg);
        text-shadow: 2px 2px 1px rgb(1, 18, 34);
    }
    to{
        transform: rotate(360deg);
    }
}

.list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}
.mark{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.complete{
    border: 0;
    outline: 0;
    font-size: 20px;
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
    color: rgb(71, 173, 3);
}
.progress{
    border: 0;
    outline: 0;
    font-size: 20px;
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
    color: rgb(126, 150, 172);
}
.item-text{
    color: rgb(41, 56, 71);
    font-size: 15px;
    flex: 2;
    padding: 0px 5px;
    max-width: 300px;
}
.item-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.item-time{
    color: rgb(1, 18, 34);
    padding: 0px 5px;
}
.remove-item{
    border: 0;
    outline: 0;
    background-color: transparent;
    color: grey;
    font-size: 18px;
    height: 30px;
    width: 30px;
    background-color: rgb(194, 213, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}
.remove-item:hover{
    color: rgb(1, 18, 34);
    background-color: rgb(132, 171, 207);
}

/* Making css for small screens and devices.. */

@media screen and (max-width: 478px) {
    .container{
        display: block;
        padding: 5rem 10px;
    }
    .todo-card{
        width: auto;
        z-index: 999;
        position: relative;
    }
    .input-group{
        flex-wrap: wrap;
        justify-content: end;
        /* height: 45px; */
        padding: 5px;
        overflow:visible;
        margin-bottom: 2rem;
        gap: 5px;
        border-radius: 10px;
    }
    .todo-input{
        height: 40px;
    }
    .fa-cloud{
        z-index: 1;
    }
    .c5{        
        top: 2.2rem;
        left: 45%;
        right: auto;
    }
    .c1{
        top: 1rem;
        right: 20%;
        left: 20%;
    }
    .c2{
        top: 1.5rem;
        right: 35%;
        left: 35%;
        color: rgb(207, 132, 201); 
    }

    .c6{
        top: auto;
        bottom: 4rem;
        right: 30%;
        left: 30%;
    }
    .c7{
        top: auto;
        bottom: 3rem;
        right: 35%;
        left: 35%;
    }
    .c4{
        top: auto;
        bottom: 2rem;
        right: 40%;
        left: 40%;
    }
    .c3{
        top: auto;
        bottom: 1rem;
        right: 45%;
        left: 45%;
    }
}